.de-input {
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 500%;
    color: black;
    text-align: center;
    background-image:  linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url("./pics/background.jpg");
}
