.de-input {
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 500%;
    color: black;
    text-align: center;
    background-image: url("./pics/background.jpg");
}

.module {
  margin: 10px;
  width: 230px;
  height: 150px;
  float: left;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg);
  background-size: cover;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}

.opp h2 {
  background: rgba(255, 255, 255, 0.75);
  color: black;
}